*{
	margin: 0;
	padding: 0;
}

.main {
	margin: auto;
	width: 1170px;
}
input,select {
	padding: 10px;
	margin-bottom: 10px;
}
input[type='submit']:hover {
	cursor: pointer;
	color: #fff;
	background: blue;
}

