* {
	margin: 0;
	padding: 0;
}
.main {
	width: 1170px;
	margin: auto;
}
li {
	width: 40px;
    height: 40px;
    margin-bottom: 10px;
    line-height: 40px;
    text-align: center;
    list-style: none;
    margin-left: 5px;
}
ul {
	display: flex;
	justify-content: center;
}